li:first-child {
    font-weight: bold;
}
a:last-child{
    color: red;
}
input[disabled] {
    background-color: gray;
}
div p {
    font-weight: bold;
}
a[href^="http"] {
    color: green;
}
input[type^="text"]{
    border: 1px solid blue;
}
li:last-child, li:first-child {
    font-size: 28px;
}
div p{
    font-size: 16px;
}
input:checked {
    background-color: lightblue;
}
li > a {
    text-decoration: underline;
}
li:nth-child(even){
    font-weight: bold;
}
input [type^="text"]:not(:disabled){
    background-color: gray;
}
div > p:first-child{
    font-size: 24px;
}
.special + li {
    text-decoration: line-through;
}
p::first-letter {
    font-size: 36;
}
a::after{
    content:"↗";
}