body{
  background-color:blanchedalmond;

}
.topnav {
   width: auto;
   height: 50px;
   background-color:#00fff3; 
   animation: topnavStyle 10s infinite alternate;
}
@keyframes topnavStyle{
  from{background-color:#05e9e2}
  to{background-color:#9f26ed}
  
}

#popup {
  display:none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup button {
  margin: 5px;
}
p.open-popup {
  text-indent:11px;
  word-spacing:8px
}
.open-popup {
  height:20px;
  width:150px;
  border: 2px solid transparent;
  padding: 5px;
  cursor:pointer;
  animation: blinkb 3.5s infinite;
  
}

@keyframes blinkb {
  0%{
    border-color: transparent;
  }
  25% {
     border-color:yellow;
  }
  50% {
    border-color: #3434d9;
  }
  75% {
    border-color:green;
  }
  100% {
    border-color:transparent;
  }
}

