title {
    color: rgb(127, 45, 203);
    width: auto;
    height: 400 px;
  }
title.topnav {
    color:brown;

}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup button {
  margin: 5px;
}

.open-popup {
  border: 2px solid transparent;
  padding: 5px;
  cursor: pointer;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: blue;
  }
}